.main {
  &__form {
    width: 100%;
    &__tt {
    align-self: center;
  }
    &__ti {
      width: 100%;
    }
  }
}

.items-list {
  &__item {
    &__parent {
      &--selected {
        background: #dcdcdc;
      }
    }
  }
}

.items-children-list__item__children {
  margin-left: 16px;
  &__child {
    &--selected {
      > .items-children-list__item__children__child__item {
        background: #dcdcdc;
      }
    }
  }
}

.users-list {
  padding: 8px 0;
  width: 100%;
  box-shadow: grey;
  background: white;
  overflow: auto;
  border-bottom: 0.5px solid grey;
  &__item {
    cursor: pointer;
    padding: 0.50rem 1.5rem;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    &:hover {
      background: rgb(243, 236, 236);
    }
    &__avatar {
      margin-right: 16px;
      font-size: 0.75rem;
      &__image {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: #8f949c;
      }
    }
    &__info {
      flex: 1;
      &__name {
        color: grey;
        font-weight: bold;
      }
    }
  }
  &:last-child { 
    border-bottom: none;
  }
}